* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: 'Mulish', sans-serif;
  font-size: 62.5%;
}

body {
  background: #121214;
  display: grid;
  justify-content: center;
  padding: 7.2rem 10.4rem;
}

header h1 {
  font-weight: 900;
  font-size: 5.6rem;
  line-height: 7.2rem;
  color: #02799D;
}

header p {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4rem;
  color: #E1E1E6;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 4.8rem 6rem;
  margin-top: 6.2rem;
}

.card {
  background: #202024;
  border: 2px solid #323238;
  border-radius: .8rem;
  overflow: hidden;
}

.card h2 {
  color: #E1E1E6;
  font-weight: 900;
  font-size: 3.6rem;
  padding: 2.4rem 3.2rem 0;
}

.card p {
  color: #C4C4CC;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2.4rem 3.2rem 3.2rem;
}

