body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
  min-height: 100vh;
}

#woman {
  width: 626px;
  margin: 64px auto 64px;
}

#woman img {
  margin-bottom: 32px;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 32px; 
  font-weight: normal;
  margin-bottom: 16px;
}

h1 span {
  color: #EE24FF;
  font-weight: bold;
}
span, a {
  color: #3F3D56;
  font-weight: bold;
  text-decoration: none;
}

p {
  font-size: 15px;
  width: 540px;
  margin: 0 auto 32px;
  
}

p, #footer {
  color: #828282;
  font-size: 15px;
}

#footer a + a {
  margin-left: 42px;
}

#line {
  border: 1px solid #ECEFF2;
  width: 391px;
  margin: 64px auto 16px;
}

#wave {
  position: fixed;
  width: 100%;
  margin: 40.83px auto 0;
  bottom: 0;
  right: 0;
}